html{

    font-size: 40px;
    color: aliceblue;
    font-family: monospace;
}
.contenedor{
	max-width: 80rem;
	margin: 0 50px 0 50px;
}
  .centrado{
	margin:5px auto;
	display:block;
    }

.titulo{
	border: solid black;
    text-align: center;
    border-bottom-color: black;
}

.cuerpo{
	padding: 2rem;
	border: solid black;
    text-align: center;  
} 
.segmentos{
	text-align: center;
	display: flex;
	justify-content: space-between;
		max-width: 900rem;
	margin: 0 100px 0 100px;
	max-width: 80rem;


}
text-align: center;
.pie{
	padding: 0rem;
	border: solid black;
    text-align: center;

}